/* .form {
  order: 0;
  flex: 90%;
  display: flex;
}

.form input {
  flex: 70%;
  order: 0;
  margin-right: 2px;
}

.save {
  order: 1;
  flex: 10%;
  margin-right: 2px;
} */

.form {
  display: inline-flex;
  flex: 80%;
}

.form input {
  flex: 70%;
  margin-right: 2px;
}

.save {
  flex: 10%;
  margin-right: 2px;
}

@media screen and (max-width: 800px) {
  .form {
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 2px;
  }

  .form input {
    margin-right: 0px;
    margin-bottom: 2px;
  }

  .save {
    margin-right: 0px;
  }
}
