.list {
  margin: 0 auto;
  width: 90%;
  border-radius: 10px;
  background-color: #f1f1f1;
}

.list ul {
  margin: 5px 5px;
  padding: 10px;
}

.list li {
  list-style-type: none;
  border: 0.5px solid black;
  padding: 5px;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  border-radius: 5px;
  background-color: white;
}

.list li div {
  order: 0;
  flex: 80%;
}

.delete {
  order: 2;
  flex: 10%;
}

.edit {
  order: 1;
  flex: 10%;
  margin-right: 2px;
}
