.mainCard {
  width: 45%;
  padding: 15px;
  margin: 50px auto;
  background-color: #00000061;
}

@media screen and (max-width: 900px) {
  .mainCard {
    min-width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .mainCard {
    min-width: 95%;
  }
}

.actions {
  text-align: center;
}

.actions button {
  margin: 5px;
}

.main_logo {
  width: 64px;
  height: 64px;
  display: block;
  margin: auto;
}

.logo {
  background-image: url("./images/github.png");
  width: 64px;
  height: 64px;
  border-radius: 12px;
  background-repeat: no-repeat;
}
