* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: rgb(247 247 249);
  background-image: url(/src/images/b2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
